language: python
python:
    - 2.6
    - 2.7
    - 3.3
    - 3.4
    - pypy
install:
    - pip install coverage coveralls flake8 pep8 pyyaml toml pytest pytest-cov
    - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install unittest2; fi
script:
    - py.test -s -v tests.py
    - flake8
    - pep8
os:
    - linux
    - osx
after_success:
    # TODO: can't find a way for pytest to work with coveralls hence
    # run tests one more time
    - coverage run tests.py
    - coveralls -v  # upload reports to coveralls.io
