include .gitignore
include .travis.yml
include .git-pre-commit
include CREDITS
include HISTORY.rst
include LICENSE
include Makefile
include MANIFEST.in
include README.rst
include setup.py
include tox.ini
